/*lnb*/
.lnb_wrap{height:182px; position:relative; box-shadow:10px 13px 10px 4px #d4d4d4}
.lnb a{height:100%; display:block}
.lnb dl{width:710px; height:22px;margin:auto; padding-top:50px}

.lnb dt{width:174px; height:27px; background:url(../images/sub/admin/lnb_title.jpg)no-repeat;text-indent:-9999px; margin:0 auto 59px}

.lnb1{width:117px; height:19px;background:url(../images/sub/admin/lnb1.jpg) no-repeat; text-indent:-9999px; float:left;margin-right:100px}
.lnb1:hover{width:117px; height:19px;background:url(../images/sub/admin/lnb1_red.jpg) no-repeat}
.lnb2{width:117px; height:19px;background:url(../images/sub/admin/lnb2.jpg) no-repeat; text-indent:-9999px; float:left; margin-right:100px}
.lnb2:hover{width:117px; height:19px;background:url(../images/sub/admin/lnb2_red.jpg) no-repeat}
.lnb3{width:97px; height:19px;background:url(../images/sub/admin/lnb3.jpg) no-repeat; text-indent:-9999px; float:left; margin-right:100px}
.lnb3:hover{width:97px; height:19px;background:url(../images/sub/admin/lnb3_red.jpg) no-repeat}
.lnb4{width:79px; height:19px;background:url(../images/sub/admin/lnb4.jpg) no-repeat; text-indent:-9999px; float:left}
.lnb4:hover{width:79px; height:19px;background:url(../images/sub/admin/lnb4_red.jpg) no-repeat}

/*locate*/
.locate{width:1100px; margin:30px auto 0; position:relative; height:21px;}
.locate1{float:left}
.locate1:after{content:">"; margin:0 9px 0 5px}
.locate2 {float:left}
.locate2:after{content:">"; margin:0 9px 0 5px}
.locate3 {float:left}

/*main*/
.mem_list_wrap{width:1100px; margin:auto}
.mem_list h2{margin:50px 0; width:141px; height:33px; background: url(../images/sub/admin/title.jpg)no-repeat; text-indent:-9999px}

.bor{border-left:1px solid #999}
table{width:1100px; margin:0 auto 50px; border-top:1px solid #6f6f6f; border-bottom:1px solid #6f6f6f; border-collapse:collapse; text-align:center}
td{height:50px; vertical-align: top; padding:5px}
.t_title{background:#eee}
.mem_idx{width:30px}
.mem_name{width:60px}
.mem_id, .mem_level{width:55px}
.mem_dob, .mem_date{width:90px}
.mem_mobile{width:100px}
.mem_email{width:130px}
.mem_addr{width:220px}
.mem_receipt{width:96px}
.mem_modi, .mem_del{width:40px}

.pager{text-align: center; margin-bottom: 100px}


@media screen and (max-width: 1024px){
    .locate {width: 845px}
}

@media screen and (max-width: 960px){
    .locate {width: 774px}
}