
/*lnb*/
.lnb_wrap{height:182px; position:relative; box-shadow:10px 13px 10px 4px #d4d4d4}
.lnb a{height:100%; display:block}
.lnb_cont{width:590px;height:160px; margin:auto; padding-top:50px;box-sizing:border-box}

.lnb dt{width:212px;height:29px; background:url(../images/sub/hollys_mall/title.jpg);text-indent:-9999px; margin:0 auto 59px}
.lnb1{width:78px; height:23px;background:url(../images/sub/hollys_mall/lnb1.jpg) no-repeat; text-indent:-9999px; float:left;margin-right:168px}
.lnb1:hover{width:78px; height:23px;background:url(../images/sub/hollys_mall/lnb1_red.jpg) no-repeat}
    
.lnb2{width:98px; height:23px;background:url(../images/sub/hollys_mall/lnb2.jpg) no-repeat; text-indent:-9999px; float:left;margin-right:168px}
.lnb2:hover{width:98px; height:23px;background:url(../images/sub/hollys_mall/lnb2_red.jpg) no-repeat}

.lnb3{width:77px; height:23px;background:url(../images/sub/hollys_mall/lnb3.jpg) no-repeat; text-indent:-9999px; float:left}
.lnb3:hover{width:77px; height:23px;background:url(../images/sub/hollys_mall/lnb3_red.jpg) no-repeat}


/*locate*/
.locate{width:917px; position:relative;margin: 30px auto 0; height:20px;}
.locate1{float:left}
.locate1:after{content:">"; margin:0 9px 0 5px}
.locate2{float:left}
.locate2:after{content:">"; margin:0 9px 0 5px}
.locate3{float:left}



     /*main*/
     .con_all{width:945px; margin:0 auto 100px}

    .con1{height:193px; margin-top:80px}
    
    .con1_1{width:100px; height:172px; background:url(../images/sub/hollys_mall/con_img1.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con1_1 dt{ text-align:center; }
    .con1_1 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con1_1 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con1_1:hover{transform:scale(1.1, 1.1)}

    .con1_2{width:100px; height:172px; background:url(../images/sub/hollys_mall/con_img2.jpg)no-repeat; position:relative; float:left; margin-right:100px }
    .con1_2 dt{ text-align:center; }
    .con1_2 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con1_2 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con1_2:hover{transform:scale(1.1, 1.1)}

    .con1_3{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img3.jpg)no-repeat; position:relative; float:left; margin-right:100px }
    .con1_3 dt{ text-align:center}
    .con1_3 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con1_3 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con1_3:hover{transform:scale(1.1, 1.1)}

    .con1_4{width:100px; height:172px; background:url(../images/sub/hollys_mall/con_img4.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con1_4 dt{ text-align:center; }
    .con1_4 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con1_4 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con1_4:hover{transform:scale(1.1, 1.1)}

    .con1_5{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img5.jpg)no-repeat; position:relative; float:left }
    .con1_5 dt{ text-align:center; }
    .con1_5 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con1_5 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con1_5:hover{transform:scale(1.1, 1.1)}


    .con2{height:193px; margin-top:50px}

    .con2_1{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img6.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con2_1 dt{ text-align:center; }
    .con2_1 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con2_1 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con2_1:hover{transform:scale(1.1, 1.1)}

    .con2_2{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img7.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con2_2 dt{ text-align:center; }
    .con2_2 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con2_2 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con2_2:hover{transform:scale(1.1, 1.1)}

    .con2_3{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img8.jpg)no-repeat; position:relative; float:left; margin-right:90px}
    .con2_3 dt{ text-align:center; }
    .con2_3 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con2_3 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con2_3:hover{transform:scale(1.1, 1.1)}

    .con2_4{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img9.jpg)no-repeat; position:relative; float:left; margin-right:110px}
    .con2_4 dd{padding-top:150px; text-align:center; color:#ba000d;padding-left:20px}
    .con2_4 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px;padding-left:30px; box-sizing: border-box}
    .con2_4:hover{transform:scale(1.1, 1.1)}

    .con2_5{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img10.jpg)no-repeat; position:relative; float:left }
    .con2_5 dt{ text-align:center; }
    .con2_5 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con2_5 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con2_5:hover{transform:scale(1.1, 1.1)}

    .con3{height:193px; margin-top:50px}

    .con3_1{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img11.jpg)no-repeat; position:relative; float:left; margin-right:80px}
    .con3_1 dt{ text-align:center; }
    .con3_1 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con3_1 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con3_1:hover{transform:scale(1.1, 1.1)}

    .con3_2{width:107px; height:186px; background:url(../images/sub/hollys_mall/con_img12.jpg)no-repeat; position:relative; float:left; margin-right:120px}
    .con3_2 dd{padding-top:150px; text-align:center; color:#7a6a6b;padding-left:20px}
    .con3_2 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px;padding-left:30px; box-sizing: border-box}
    .con3_2:hover{transform:scale(1.1, 1.1)}

    .con3_3{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img13.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con3_3 dt{ text-align:center; }
    .con3_3 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con3_3 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con3_3:hover{transform:scale(1.1, 1.1)}

    .con3_4{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img14.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con3_4 dt{ text-align:center; }
    .con3_4 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con3_4 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con3_4:hover{transform:scale(1.1, 1.1)}

    .con3_5{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img15.jpg)no-repeat; position:relative; float:left}
    .con3_5 dt{ text-align:center; }
    .con3_5 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con3_5 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con3_5:hover{transform:scale(1.1, 1.1)}

    .con4{height:193px; margin-top:50px}

    .con4_1{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img16.jpg)no-repeat; position:relative; float:left; margin-right:75px}
    .con4_1 dt{ text-align:center; }
    .con4_1 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con4_1 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con4_1:hover{transform:scale(1.1, 1.1)}
    
    .con4_2{width:115px; height:186px; background:url(../images/sub/hollys_mall/con_img17.jpg)no-repeat; position:relative; float:left; margin-right:125px}
    .con4_2 dd{padding-top:150px;padding-left:15px; text-align:center; color:#ba000d}
    .con4_2 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; padding-left:15px;box-sizing: border-box}
    .con4_2:hover{transform:scale(1.1, 1.1)}

    .con4_3{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img18.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con4_3 dt{ text-align:center; }
    .con4_3 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con4_3 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con4_3:hover{transform:scale(1.1, 1.1)}

    .con4_4{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img19.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con4_4 dt{ text-align:center; }
    .con4_4 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con4_4 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con4_4:hover{transform:scale(1.1, 1.1)}

    .con4_5{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img20.jpg)no-repeat; position:relative; float:left}
    .con4_5 dt{ text-align:center; }
    .con4_5 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con4_5 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con4_5:hover{transform:scale(1.1, 1.1)}

    .con5{height:193px; margin-top:50px}

    .con5_1{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img21.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con5_1 dt{ text-align:center; }
    .con5_1 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con5_1 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con5_1:hover{transform:scale(1.1, 1.1)}

    .con5_2{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img22.jpg)no-repeat; position:relative; float:left; margin-right:90px}
    .con5_2 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con5_2 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con5_2:hover{transform:scale(1.1, 1.1)}

    .con5_3{width:119px; height:186px; background:url(../images/sub/hollys_mall/con_img23.jpg)no-repeat; position:relative; float:left; margin-right:90px}
    .con5_3 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con5_3 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con5_3:hover{transform:scale(1.1, 1.1)}

    .con5_4{width:119px; height:186px; background:url(../images/sub/hollys_mall/con_img24.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con5_4 dt{ text-align:center; }
    .con5_4 dd{padding-top:150px;padding-left:30px; text-align:center; color:#ba000d}
    .con5_4 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px ;padding-left:35px; box-sizing: border-box}
    .con5_4:hover{transform:scale(1.1, 1.1)}

    .con5_5{width:100px; height:186px; background:url(../images/sub/hollys_mall/con_img25.jpg)no-repeat; position:relative; float:left}
    .con5_5 dt{ text-align:center; }
    .con5_5 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con5_5 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con5_5:hover{transform:scale(1.1, 1.1)}

    .con6{height:193px; margin-top:50px}

    .con6_1{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img26.jpg)no-repeat; position:relative; float:left; margin-right:100px}
    .con6_1 dt{ text-align:center; }
    .con6_1 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con6_1 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con5_1:hover{transform:scale(1.1, 1.1)}

    .con6_2{width:100px; height:193px; background:url(../images/sub/hollys_mall/con_img27.jpg)no-repeat; position:relative; float:left; margin-right:75px}
    .con6_2 dt{ text-align:center; }
    .con6_2 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con6_2 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con5_2:hover{transform:scale(1.1, 1.1)}
    
    .con6_3{width:140px; height:193px; background:url(../images/sub/hollys_mall/con_img28.jpg)no-repeat; position:relative; float:left; margin-right:75px}
    .con6_3 dt{ text-align:center; }
    .con6_3 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con6_3 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con6_3:hover{transform:scale(1.1, 1.1)}

    .con6_4{width:140px; height:193px; background:url(../images/sub/hollys_mall/con_img29.jpg)no-repeat; position:relative; float:left; margin-right:75px}
    .con6_4 dt{ text-align:center; }
    .con6_4 dd{padding-top:172px; text-align:center; color:#ba000d}
    .con6_4 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con6_4:hover{transform:scale(1.1, 1.1)}

    .con6_5{width:140px; height:186px; background:url(../images/sub/hollys_mall/con_img30.jpg)no-repeat; position:relative; float:left}
    .con6_5 dt{ text-align:center; }
    .con6_5 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con6_5 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con6_5:hover{transform:scale(1.1, 1.1)}


    .con7{height:186px; margin-top:50px}
    .con7_1{width:140px; height:186px; background:url(../images/sub/hollys_mall/con_img31.jpg)no-repeat; position:relative}
    .con7_1 dt{ text-align:center; }
    .con7_1 dd{padding-top:150px; text-align:center; color:#ba000d}
    .con7_1 a{width:100%; height:100%;position:absolute; top:0; left:0; padding-top:130px; box-sizing: border-box}
    .con7_1:hover{transform:scale(1.1, 1.1)}



@media screen and (max-width: 1024px){
     .locate {width: 845px}
}

@media screen and (max-width: 960px){
     .locate {width: 774px}
}